.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
}

.table td {
  justify-content: space-evenly;
  outline: none;
}
.table td {
  border: 1px solid #ddd;
  padding: 5px 10px 5px 10px;
  /* width: 18%; */
}
.table thead {
  border: 1px solid #ddd;
  padding: 12px 20px 12px 20px;
  text-align: center;
  height: 40px;
  width: 18%;
}

button {
  background-color: rgb(0, 143, 153);
  border-radius: 5px;
  color: white;
  padding: 7px;
  margin: 5px;
}
button:hover {
  cursor: pointer;
}

.selected {
  background-color: #ccc !important;
}

input {
  border: 0;
}

.bordered-input {
  border: 1px solid grey !important;
}
